# Node
node_modules
npm-debug.log

# Git
.git
.gitignore

# Environment files
.env.example
.env
.env.*

# Miscellaneous
.DS_Store
.vscode
.vscode/*
logs
logs/*
Handbook.pdf

# Cursor
.cursorrules
.cursorignore